.first-screen {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.03),
      rgba(27, 30, 34, 0.4),
      rgb(27, 30, 34)
    ),
    url(../img/first-screen.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
}
.header {
  padding: 33px;
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    .header-left {
      display: flex;
      align-items: center;
      .logo {
        margin-right: 33px;
        img {
          display: block;
          @media (max-width: 768px) {
            width: 130px;
          }
        }
      }
      .language-switch {
        color: $mainColor;
        text-decoration: none;
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        opacity: 50%;
      }
      .active {
        opacity: 100%;
      }
    }
    .header-right {
      display: flex;
      align-items: center;
      .nav {
        @media (max-width: 1240px) {
          display: none;
        }
        .menu-link {
          font-size: 18px;
          line-height: 32px;
          color: $mainColor;
          text-decoration: none;
          margin-right: 40px;
        }
        .menu-link:last-child {
          margin-right: 35px;
        }
      }
      .btn {
        @extend %btn;
        @media (max-width: 768px) {
          padding: 10px 15px;
        }
        @media (max-width: 595px) {
          display: none;
        }
      }
      .burger-menu {
        width: 20px;
        height: 20px;
        margin-left: 50px;
        display: none;
        @media (max-width: 1240px) {
          display: block;
        }
      }
    }
  }
}
.content {
  .content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
    }
    .content-text {
      max-width: 48%;
      @media (max-width: 1024px) {
        max-width: 100%;
        margin-bottom: 50px;
      }
      .title {
        font-size: 48px;
        font-weight: 500;
        line-height: 58px;
        margin-bottom: 26px;
        @media (max-width: 768px) {
          font-size: 36px;
        }
      }
      .subtitle {
        font-size: 20px;
        line-height: 38px;
        @media (max-width: 768px) {
          font-size: 18px;
        }
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      margin-bottom: 209px;
      gap: 23px;
      max-width: 500px;
      padding: 51px 70px 55px;
      margin-right: -70px;
      background-color: hsla(0, 0%, 20%, 0.25);
      backdrop-filter: blur(24px);
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      input {
        color: $mainColor;
      }
      @media (max-width: 1024px) {
        margin-bottom: 70px;
        padding: 51px 15px 55px;
        margin-right: 0;
        max-width: 100%;
      }
      @media (max-width: 500px) {
        padding: 10px;
      }
      .form-name {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
      }
      .input-where,
      .input-type {
        @include inputWidth(360px);
        @media (max-width: 1024px) {
          width: 100%;
        }
      }
      .input-where {
        background-image: url(../img/icons/search.svg);
        background-repeat: no-repeat;
        background-size: 17px;
        background-position: 97%;
      }
      .select-type {
        @include inputWidth(360px);
        appearance: none;
        color: $mainColor;
        background-image: url(../img/icons/arrow.svg);
        background-repeat: no-repeat;
        background-size: 17px;
        background-position: 97%;
        option {
          color:$secondaryColor;
        }
        @media (max-width: 1024px) {
          width: 100%;
        }
      }
      div {
        display: flex;
        gap: 24px;
        @media (max-width: 500px) {
          gap: 10px;
        }
        .input-when,
        .input-duration {
          @include inputWidth(168px);
          display: inline-block;
        }
        .input-when {
          @media (max-width: 500px) {
            width: 70%;
          }
        }
      }
      input::placeholder {
        color: $mainColor;
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
      }
      input[type='submit'] {
        background-color: $accentColor;
        padding: 6px 0 8px;
        border-radius: 4px;
        color: $secondaryColor;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        border: 0;
        cursor: pointer;
      }
    }
  }
}
