@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$font: 'Montserrat', sans-serif;
$background: #1b1e22;
$mainColor: #ffffff;
$accentColor: #ffb800;
$secondaryColor: #333333;
$bgColor: #23282f;

%btn {
  display: inline-block;
  color: $mainColor;
  text-decoration: none;
  border: 1px solid $accentColor;
  border-radius: 10px;
  padding: 15px 30px;
  background: transparent;
}

%btn:hover {
  background-color: $accentColor;
  color: $background;
}

%sectionTitle {
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
  text-align: center;
  margin-bottom: 45px;
}

@mixin inputWidth($width) {
  background: transparent;
  border: 1px solid $mainColor;
  border-radius: 4px;
  padding: 9px 0 12px 13px;
  width: $width;
  @media (max-width: 1024px) {
    padding: 15px 0 15px 13px;
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  background-color: $background;
  color: $mainColor;
  font-size: 14px;
  .container {
    max-width: 1193px;
    margin: 0 auto;
    padding: 0 30px;
    @media (max-width: 1500px) {
      max-width: 90%;
    }
    @media (max-width: 1024px) {
      text-align: center;
      padding: 0 15px;
    }
  }
}
