@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.btn, .directions .btn, .header .header-wrapper .header-right .btn {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffb800;
  border-radius: 10px;
  padding: 15px 30px;
  background: transparent;
}

.btn:hover, .header .header-wrapper .header-right .btn:hover {
  background-color: #ffb800;
  color: #1b1e22;
}

.review .section-title, .blog .section-title, .directions .section-title, .main .features .section-title {
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
  text-align: center;
  margin-bottom: 45px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #1b1e22;
  color: #ffffff;
  font-size: 14px;
}
body .container {
  max-width: 1193px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (max-width: 1500px) {
  body .container {
    max-width: 90%;
  }
}
@media (max-width: 1024px) {
  body .container {
    text-align: center;
    padding: 0 15px;
  }
}

.first-screen {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.03), rgba(27, 30, 34, 0.4), rgb(27, 30, 34)), url(../img/first-screen.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
}

.header {
  padding: 33px;
}
.header .header-wrapper {
  display: flex;
  justify-content: space-between;
}
.header .header-wrapper .header-left {
  display: flex;
  align-items: center;
}
.header .header-wrapper .header-left .logo {
  margin-right: 33px;
}
.header .header-wrapper .header-left .logo img {
  display: block;
}
@media (max-width: 768px) {
  .header .header-wrapper .header-left .logo img {
    width: 130px;
  }
}
.header .header-wrapper .header-left .language-switch {
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  opacity: 50%;
}
.header .header-wrapper .header-left .active {
  opacity: 100%;
}
.header .header-wrapper .header-right {
  display: flex;
  align-items: center;
}
@media (max-width: 1240px) {
  .header .header-wrapper .header-right .nav {
    display: none;
  }
}
.header .header-wrapper .header-right .nav .menu-link {
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 40px;
}
.header .header-wrapper .header-right .nav .menu-link:last-child {
  margin-right: 35px;
}
@media (max-width: 768px) {
  .header .header-wrapper .header-right .btn {
    padding: 10px 15px;
  }
}
@media (max-width: 595px) {
  .header .header-wrapper .header-right .btn {
    display: none;
  }
}
.header .header-wrapper .header-right .burger-menu {
  width: 20px;
  height: 20px;
  margin-left: 50px;
  display: none;
}
@media (max-width: 1240px) {
  .header .header-wrapper .header-right .burger-menu {
    display: block;
  }
}

.content .content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .content .content-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.content .content-wrapper .content-text {
  max-width: 48%;
}
@media (max-width: 1024px) {
  .content .content-wrapper .content-text {
    max-width: 100%;
    margin-bottom: 50px;
  }
}
.content .content-wrapper .content-text .title {
  font-size: 48px;
  font-weight: 500;
  line-height: 58px;
  margin-bottom: 26px;
}
@media (max-width: 768px) {
  .content .content-wrapper .content-text .title {
    font-size: 36px;
  }
}
.content .content-wrapper .content-text .subtitle {
  font-size: 20px;
  line-height: 38px;
}
@media (max-width: 768px) {
  .content .content-wrapper .content-text .subtitle {
    font-size: 18px;
  }
}
.content .content-wrapper .form {
  display: flex;
  flex-direction: column;
  margin-bottom: 209px;
  gap: 23px;
  max-width: 500px;
  padding: 51px 70px 55px;
  margin-right: -70px;
  background-color: hsla(0, 0%, 20%, 0.25);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.content .content-wrapper .form input {
  color: #ffffff;
}
@media (max-width: 1024px) {
  .content .content-wrapper .form {
    margin-bottom: 70px;
    padding: 51px 15px 55px;
    margin-right: 0;
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .content .content-wrapper .form {
    padding: 10px;
  }
}
.content .content-wrapper .form .form-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.content .content-wrapper .form .input-where,
.content .content-wrapper .form .input-type {
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 9px 0 12px 13px;
  width: 360px;
}
@media (max-width: 1024px) {
  .content .content-wrapper .form .input-where,
  .content .content-wrapper .form .input-type {
    padding: 15px 0 15px 13px;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .content .content-wrapper .form .input-where,
  .content .content-wrapper .form .input-type {
    width: 100%;
  }
}
.content .content-wrapper .form .input-where {
  background-image: url(../img/icons/search.svg);
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: 97%;
}
.content .content-wrapper .form .select-type {
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 9px 0 12px 13px;
  width: 360px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #ffffff;
  background-image: url(../img/icons/arrow.svg);
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: 97%;
}
@media (max-width: 1024px) {
  .content .content-wrapper .form .select-type {
    padding: 15px 0 15px 13px;
    width: 100%;
  }
}
.content .content-wrapper .form .select-type option {
  color: #333333;
}
@media (max-width: 1024px) {
  .content .content-wrapper .form .select-type {
    width: 100%;
  }
}
.content .content-wrapper .form div {
  display: flex;
  gap: 24px;
}
@media (max-width: 500px) {
  .content .content-wrapper .form div {
    gap: 10px;
  }
}
.content .content-wrapper .form div .input-when,
.content .content-wrapper .form div .input-duration {
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 9px 0 12px 13px;
  width: 168px;
  display: inline-block;
}
@media (max-width: 1024px) {
  .content .content-wrapper .form div .input-when,
  .content .content-wrapper .form div .input-duration {
    padding: 15px 0 15px 13px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .content .content-wrapper .form div .input-when {
    width: 70%;
  }
}
.content .content-wrapper .form input::-moz-placeholder {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}
.content .content-wrapper .form input::placeholder {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}
.content .content-wrapper .form input[type=submit] {
  background-color: #ffb800;
  padding: 6px 0 8px;
  border-radius: 4px;
  color: #333333;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  border: 0;
  cursor: pointer;
}

.main .features {
  text-align: center;
  margin-bottom: 90px;
}
.main .features .features-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .features .features-wrapper .feature {
  flex-basis: 24%;
}
@media (max-width: 1200px) {
  .main .features .features-wrapper .feature {
    flex-basis: 48%;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .main .features .features-wrapper .feature {
    flex-basis: 100%;
  }
}
.main .features .features-wrapper .feature img {
  margin-bottom: 17px;
}

.directions {
  text-align: center;
}
.directions .directions-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 50px;
  text-align: left;
}
@media (max-width: 1325px) {
  .directions .directions-wrapper {
    justify-content: center;
  }
}
.directions .directions-wrapper .direction {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  background-color: #23282f;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .directions .directions-wrapper .direction {
    flex-basis: 48%;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .directions .directions-wrapper .direction {
    flex-basis: 100%;
  }
}
.directions .directions-wrapper .direction .direction-img {
  position: relative;
  margin-bottom: 16px;
  text-align: center;
}
.directions .directions-wrapper .direction .direction-img img {
  width: 100%;
}
.directions .directions-wrapper .direction .direction-img .direction-meta {
  display: flex;
  position: absolute;
  bottom: 25px;
}
.directions .directions-wrapper .direction .direction-img .direction-meta .price {
  background-color: #ffb800;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: #1b1e22;
  padding: 0 5px;
}
.directions .directions-wrapper .direction .direction-img .direction-meta .price span {
  font-size: 13px;
  font-weight: 500;
}
.directions .directions-wrapper .direction .direction-img .direction-meta .date {
  font-size: 13px;
  font-weight: 500;
  line-height: 32px;
  background-color: rgba(27, 30, 34, 0.6);
  padding: 0 10px;
  border-radius: 0 6px 6px 0;
}
.directions .directions-wrapper .direction .direction-inner {
  padding: 16px 20px 24px;
}
.directions .directions-wrapper .direction .direction-inner h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 16px;
}
.directions .directions-wrapper .direction .direction-inner .text {
  line-height: 20px;
  margin-bottom: 17px;
}
.directions .directions-wrapper .direction .direction-inner .link {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  opacity: 50%;
}
.directions .directions-wrapper .direction:hover {
  background-color: #ffffff;
  transform: scale(1.03);
}
.directions .directions-wrapper .direction:hover .direction-inner {
  color: #333333;
}
.directions .directions-wrapper .direction:hover .direction-inner a {
  color: #333333;
}
.directions .btn {
  margin-bottom: 72px;
}

.about {
  background-image: linear-gradient(to top, rgba(27, 30, 34, 0.78), rgba(27, 30, 34, 0.78)), url(../img/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  max-width: 100%;
}
.about .about-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 59px;
}
@media (max-width: 1200px) {
  .about .about-items .about-item {
    flex-basis: 48%;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .about .about-items .about-item {
    flex-basis: 100%;
  }
}
.about .about-items .about-item .number {
  color: #ffb800;
  font-size: 78px;
  font-weight: 500;
  line-height: 58px;
  margin-bottom: 21px;
}
.about .about-items .about-item p {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 68px;
}

.blog {
  padding-top: 62px;
  text-align: center;
  margin-bottom: 62px;
}
.blog .section-title {
  margin-bottom: 44px;
}
@media (max-width: 1200px) {
  .blog .section-title {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .blog .section-title {
    font-size: 20px;
  }
}

.blog-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 48px;
}
.blog-wrapper .blog-large {
  flex-basis: 46%;
  height: 480px;
  background-image: url(../img/blog1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
}
@media (max-width: 1200px) {
  .blog-wrapper .blog-large {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
}
.blog-wrapper .blog-large p {
  padding: 51px 15px 0;
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
  margin-bottom: 28px;
}
@media (max-width: 1200px) {
  .blog-wrapper .blog-large p {
    position: relative;
  }
}
.blog-wrapper .blog-large span {
  font-size: 13px;
  line-height: 16px;
}
.blog-wrapper .blog-item {
  text-align: left;
  flex-basis: 20%;
  height: 480px;
  border-radius: 4px 3px 0 0;
  background-color: #23282f;
}
@media (max-width: 1200px) {
  .blog-wrapper .blog-item {
    display: flex;
    flex-direction: column;
    flex-basis: 48%;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .blog-wrapper .blog-item {
    flex-basis: 100%;
  }
}
.blog-wrapper .blog-item .blog-img {
  align-self: center;
  margin-bottom: 20px;
}
.blog-wrapper .blog-item .blog-inner {
  display: flex;
  flex-direction: column;
  height: 235px;
  padding: 0 20px;
}
.blog-wrapper .blog-item .blog-inner .blog-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 14px;
}
.blog-wrapper .blog-item .blog-inner .blog-description {
  line-height: 20px;
  flex-grow: 1;
}
.blog-wrapper .blog-item .blog-inner .blog-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
  opacity: 50%;
  margin-bottom: 21px;
}
.blog-wrapper .blog-item .blog-inner .blog-bottom .blog-komments::before {
  content: url(../img/icons/chat.svg);
  padding-right: 7px;
}
.blog-wrapper .blog-item .blog-inner .blog-bottom .blog-likes img {
  margin-right: 6px;
}

.review {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 924px;
  margin: 0 auto;
}
.review .review-wrapper img {
  margin-bottom: 30px;
}
.review .review-wrapper .review-text {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 6px;
}
.review .review-wrapper p {
  color: #ffb800;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 32px;
}
.review .circle {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  opacity: 50%;
  margin-right: 12px;
}
.review .circle:last-child {
  margin-right: 0;
}
.review .active {
  opacity: 100%;
}

.footer .footer-wrapper {
  padding: 62px 0 28px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .footer .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.footer .footer-wrapper .footer-column {
  font-size: 13px;
  line-height: 16px;
}
@media (max-width: 1024px) {
  .footer .footer-wrapper .footer-column {
    margin-bottom: 50px;
  }
}
.footer .footer-wrapper .footer-column .footer-inner {
  display: flex;
}
.footer .footer-wrapper .footer-column .footer-inner .footer-name {
  color: #ffb800;
  margin-right: 26px;
}
.footer .footer-wrapper .footer-column .footer-inner .footer-name p:not(:last-child) {
  margin-bottom: 15px;
}
.footer .footer-wrapper .footer-column .footer-inner .footer-info p:not(:last-child) {
  margin-bottom: 15px;
}
.footer .footer-wrapper .footer-column .footer-social {
  color: #ffb800;
  margin-bottom: 10px;
}
.footer .footer-wrapper .footer-column .footer-icons img {
  margin-right: 24px;
  vertical-align: middle;
}
.footer .footer-wrapper .footer-column .footer-icons img:last-child {
  margin-right: 0;
}
@media (max-width: 1024px) {
  .footer .footer-wrapper .footer-column:last-child {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=style.css.map */